.Title {
  text-align:left;
  
}
.UserSwitch {
  text-align: right;
  
} 
 .App-Menu{  
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6A9DB2;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
  }
  
  .App-Menu-Element li{
    float: left;
    color: #4D849B;
    border: hidden;
  }
  
  .App-Menu-Element li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;  
  }
  
  .App-Menu-Element li a:hover{
    background-color: #111;
  }
  .App-Menu-Buchung{
    background-color: #4D849B;
    float: right;
  }
  .App-Menu-Depot{
    background-color: #4D849B;
    float: right;
  }
  